@font-face {
    font-family: "LanaPixel";
    src: url(LanaPixel.ttf) format("truetype")
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

canvas {
    background-color: black;
}